@model Aleksandra_Iwończ_Pricing_App.Models.MultiClass

@{
    ViewData["Title"] = "Services";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h5 class="text-uppercase p-2 text-center">List of Projects</h5>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-white">
                <tr>
                    <th>@Html.DisplayNameFor(m => Model.projects.FirstOrDefault().projectManager)</th>
                    <th>@Html.DisplayNameFor(m => Model.projects.FirstOrDefault().taskName)</th>
                    <th>@Html.DisplayNameFor(m => Model.projects.FirstOrDefault().technologyName)</th>
                    <th>@Html.DisplayNameFor(m => Model.projects.FirstOrDefault().typeName)</th>
                    <th>@Html.DisplayNameFor(m => Model.projects.FirstOrDefault().costs)</th>
                    <th>@Html.DisplayNameFor(m => Model.projects.FirstOrDefault().date)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.projects)
                {
                <tr>
                    <td>@project.projectManager</td>
                    <td>@project.taskName</td>
                    <td>@project.technologyName</td>
                    <td>@project.typeName</td>
                    <td>@project.costs</td>
                    <td>@project.date.ToShortDateString()</td>

                </tr>
                }
            </tbody>
        </table>
        
    <button type="button" onclick="location.href='@Url.Action("Estimate")'">
        Add New Project
    </button>
      